body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
h1, h2       { color: #004986; }
a           {color : white}
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

.female th {
    background-color: #C70026;
    color: white;
}

.male th {
    background-color: #004986;
    color: white;
}

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}

.bg-img {
  /* The image used */
  background-image: url(/static/img/banner.jpg);
  min-height: 50px;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* Needed to position the navbar */
  position: relative;
  color:white
}