<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<ul id="users"></ul>
<body>
    <script>
        fetch('data.json')
            .then((resp) => resp.json())
            .then((json => {
                // console.log(json)
                var row = json.rows;
                var output = "";
                for (i = 0; i < row.length; i++) {
                    output += "<li>" + row[i].CategoryName + "</li>"

                }
                document.getElementById("users").innerHTML=output
            }
            ))

           




    </script>
</body>

</html>